

.computer {
  width: 300px;
}

.hero{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.heading{
  line-height: 1em !important;
  margin-bottom: 20px !important;
}

Button{
  margin: 20px 20px 0 0 !important;
}