body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS STYLES */



footer{
  
  background: rgb(63, 60, 60);
}

.inner-footer{
  padding-top: 39px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.inner-footer h3{
  color: rgb(233, 233, 233);
}

.inner-footer ul li{
  list-style: none;
  color: rgb(150, 137, 137);
  margin-top: 18px;
  cursor: pointer;
}

li i{
  color: #ffffff;
  padding-right: 10px;
  text-shadow: 2px 1px black;
}

.icons i{
      margin: 20px;
      color: red;
}

.social{
  width: 90%;
  margin: 0 auto;
}


.social input[type=text]{
  padding: 10px 20px;
  border: none;
  border-radius:3px ;
  margin-top:5px ;
  border-right: 14px solid #FF4600;
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 12px;
}


/*Testimonial*/
.testimonials{
  
  background-size: cover;
  height:350px;
  width: 100%;
}
.testimonials h2{
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}


.cards{
  
  width: 95%;
  margin: 0 auto;
  padding-top:50px ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
}

.card{
  max-width: 450px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 black;
  border-radius: 15px !important;
}

.inner-cards{
  margin:0 auto;
}
.quote i{
  color: #000000;
  font-size: 42px;
  padding-left: 10px;
  padding:10px ;
}

.fa-quote-right{
  margin-left: 300px !important;
  margin-top: 0px !important;
}
.quote p{
  font-size: 24px;
  margin: 0 20px;

}
.dots i{
  display: block;
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
  color: #FF4600;
}
.heading{
  margin-top: 20px !important;
  font-weight: 600 !important;
}

.menu{
  list-style: none;
  display: flex;

}
.menu li{
  cursor: pointer;
  margin-left:50px;
  font-weight: 600;
}

.menu li:hover{
  opacity: 0.9;
}